html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

.customInput {
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 0px;
  background-color:#D5BA98;
  font-size: xx-large;
  color:rgb(0, 0, 0);
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}


.leadersText{
  font-size: 20px;
  color: white;
  text-align: center;
}
.greeting{
  font-size:xx-large;
  color: rgb(255, 0, 0);
  text-align: center;
  background-color: #000000;
  text-align: center;
white-space: pre-wrap;
}
.customButton {
  width:180px;
  height:50px;
  background-color: #e18d20;
  border: 3px solid #000000;
  color: #FFFF;
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}